body{/*==detail CSS==*/
	background-image: url(../Images/Background81.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	float:center;
	
}
#main{
	background:#ffffcc;
	width:1100px;	
	
	border:10px double black;
	overflow:auto;
	margin-left:130px;
	margin-top:100px;
}
/*#header { 
	text-align:center;
    width: 100%;
	margin: 0 auto;
   	background-color:white;	
 	color:red;
    border-bottom:2px solid #2083cd;
	border-top:2px solid #2083cd;*/
	
	}
#content	{
	width:100%;
	height:1000px;
}
#left{
	background:pink;	
	
	float:left;
    width:20%;
    margin:0px 0px 0px 0px;
    padding:10px;
	line-height:60px;
	
}
#right{
	width:78%;
	float:left;
    	height:auto;
    	margin:0px 0px 0px 0px;
    	padding:0px;
    	background-color:#e1f6f3;
}

#footer {
    
    height:auto;
    float:left;
    text-align:center;
    width:100%;    
    font-size: 16px;
    margin: 0px 0 auto;
    padding:10px 0px 0px 0px;
    color:#ffffff;
    border-top:1px solid #2083cd;
	clear:both;
background-color:#33E3FF;	
}

#nav{
	
	background-image: url(../Images/navback.png);
    height:140px;
    float:left;
    text-align:center;
    width:100%;
    color:#ffffff;
    font-size: 16px;
	margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    border:1px solid #2083cd;
	line-height: 10px
}
		#nav ul 
			{
				list-style:none;
				text-align : center;
				margin:50px 0px 0px 180px;
        
			}
			#nav ul li
			{
				display: inline-table;
				background: green;
				width:120px;
				height:40px;
				line-height:40px;
        position:relative;
			}

			#nav ul li a
			{
				display : block;
				color:#f1f1f1;
				text-decoration:none;
			}
			#nav ul li a:hover
			{
				background:#f1f1f1;
				color:green;
			}
 #nav .hidden{
	width:auto;
	display: none;
	position:absolute;
	right:0px;
	top:10px;
	
}
#nav ul li:hover .hidden{
  display:block;
  margin-bottom:0px;
}
 .hidden .hidden2{
	width:auto;
	display: none;
	position:absolute;
	left:20px;
	top:0px;
}
#music {
    text-align: center;
    width: 550px;
    height: 230px;
    background-color: rgb(102, 255, 204);
    margin: 150px 0px 20px 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
}
#musics{
    text-align: center;
	float: right;
    width: 550px;
    height: 230px;
    background-color: rgb(102, 255, 204);
    margin: 0px 50px 20px 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
}
#conver {
    float: right;
    text-align: center;
    width: 550px;
    height: 230px;
	background-color: rgb(102, 255, 204);
    margin: 0px 0px 20px 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
}
#games {
    float: left;
    text-align: center;
    width: 550px;
    height: 230px;
	background-color: rgb(102, 255, 204);
    margin: 0px 0px 20px 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
	
}
#gram {
    float: right;
    text-align: center;
    width: 550px;
    height: 230px;
	background-color: rgb(102, 255, 204);
    margin: 0px 0px 20px 20px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
}
#formgram {
    float: center;
    text-align: center;
    width: 550px;
    height: 230px;
	background-color: rgb(102, 255, 204);
    margin: 0px 0px 20px 100px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
}
.Muform{
	text-align: center;
	float: left;
    width: 350px;
    height: 100px;
    background-color: #EF9E69;
    margin: 0px 0px 20px 0px;
    border-width: 5px;
    border-style: dotted;
    border-color: rgb(225, 246, 243);
    border-image: initial;
    border-radius: 30px;
	clear:both;
}

/*=======================================================detail CSS=========================================================*/

#left ul{/*===Grammar CSS===*/
	list-style : none;
	text-align : center;
}
#left ul li{
  color:#f1f1f1;
  background:#1f568b;
  width:150px;
  height:40px;
  line-height:40px;
  position:relative;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom:3px;
  list-style : none;
  text-align : center;
}
#left ul li a{
	text-decoration: none;
	display: block;
	color:#f1f1f1;
}
#left ul li a:hover{
	background:#f1f1f1;
	color:#1f568b;
}
#left .hidden{
	width:auto;
	display: none;
	position:absolute;
	left:110px;
	top:0px;
	
}
#left ul li:hover .hidden{
  display:block;
  margin-bottom:0px;
}
h3{
	color:blue;
}

/*=======================================================Grammar CSS=========================================================*/
/*=======================================================Games ==============================================================*/


/*==============================Conversations===========================*/
video{
	margin-left:100px
}
/*========================================================tense CSS =============================================*/
#right form {
	border:1px solid #e085c2;
}
#right table{
	margin-left:70px;
	border-style:double;
}

















