body{
	background-image: url(../Images/Background81.jpg);
	float:center;
}
#main{
	background:khaki;
	width:1100px;	
	border:2px solid black;
	overflow:auto;
	
}
#header { 
	text-align:center;
    width: 100%;
	margin: 0 auto;
   	background-color:white;	
 	color:red;
    border-bottom:2px solid #2083cd;
	border-top:2px solid #2083cd;
	
	}
#left{
	
	float:left;
    width:110px;
	
    margin:0px 0px 0px 10px;
    padding:10px;
    
	line-height:60px;
	
}
#right{
	width:1100px;
	float:right;
    height:auto;
    margin:10px 0px 0px 0px;
    padding:0px;
    position:inherit;
    background-color:#e1f6f3;
	text-align:center;
}

#footer {
    
    height:auto;
    float:left;
    text-align:center;
    width:100%;    
    font-size: 16px;
    margin: 0px 0 auto;
    padding:10px 0px 0px 0px;
    color:#ffffff;
    border-top:1px solid #2083cd;
	clear:both;
background-color:darkgoldenrod;	
}

#nav{
	
	background-color:white;    
    height:60px;
    float:left;
    text-align:center;
    width:100%;
    color:#ffffff;
    font-size: 16px;
	margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    border:1px solid #2083cd;
	line-height: 10px
}
#nav ul {
	list-style:none;
	text-align : center;
}
#nav ul li{
	display: inline-table;
	background: green;
	width:150px;
	height:40px;
	line-height:40px;
}

#nav ul li a{
	display : block;
	color:#f1f1f1;
	text-decoration:none;
}
#nav ul li a:hover{
	background:#f1f1f1;
	color:green;
}
#left ul{
	list-style : none;
	text-align : center;
}
#left ul li{
  color:#f1f1f1;
  background:#1f568b;
  width:150px;
  height:40px;
  line-height:40px;
  position:relative;
  border-bottom: 1px solid #f1f1f1;
  
}
#left ul li a{
	text-decoration: none;
	display: block;
	color:#f1f1f1;
}
#left ul li a:hover{
	background:#f1f1f1;
	color:#1f568b;
}
#left .hidden{
	width:auto;
	display: none;
	position:absolute;
	left:110px;
	top:0px;
}
#left ul li:hover .hidden{
  display:block;
}































