body{
	font-family:Tahoma;
	font-size:20px;
}
#total{
	width:800px;
	margin:auto;
	border:1px solid black;
	overflow:auto;
}
header{
	width:800px;
	float:left;
	height:120px;
	border-bottom:1px solid black;
	background:yellow;
}
section{
	width:800px;
	float:left;	
	border-bottom:1px solid black;
	background:blue;
}
#left{
	width:200px;
	float:left;
	background:lightyellow;
}
#right{
	width:599px;
	float:left;	
}
footer{
	clear:both;
	width:800px;
	float:left;		
	background:pink;
	height:50px;
}
ul{
	display:block;
	padding-left:0px;
	margin-left:0px;
}
li{
	display:block;
	list-style:none;
	min-width:180px;		
	margin-bottom:1px;	
	background:yellow;	
}
li ul{
	display:none;
}
li a{
	display:block;
	text-decoration:none;
	text-align:left;
	padding-left:20px;
	line-height:30px;
}
li:hover a{
	background:pink;
	color:red;
}

li:hover ul li a{
	color:green;
	background:white;
	line-height:30px;		
}
li ul li{
	display:block;	
	margin-top:1px;
	margin-bottom:1px;		
}
ul li a:hover + .hidden, .hidden:hover {
	display: block;		
}
li:hover ul a:hover {
	background:pink;
	color:red;
}
